# SQL WORKSHEET - 4

### Refer the following ERD and answer all the questions in this worksheet. You have to write the queries using MySQL for the required Operation.

####  Customers: stores customer’s data.
####  Products: stores a list of scale model cars.
####  Product Lines: stores a list of product line categories.
####  Orders: stores sales orders placed by customers.
####  Order Details: stores sales order line items for each sales order.
####  Payments: stores payments made by customers based on their accounts.
####  Employees: stores all employee information as well as the organization structure such as who reports towhom.
####  Offices: stores sales office data.

### QUESTIONS:

###### 1. Write a SQL query to show average number of orders shipped in a day (use Orders table).

    SELECT 'shippedDate', AVG('orderNumber') AS [Avg_orders_shipped] 
    FROM Orders
    GROUP BY 'shippedDate';

###### 2. Write a SQL query to show average number of orders placed in a day.

    SELECT 'orderDate', AVG('orderNumber') AS [Avg_orders_placed] 
    FROM Orders
    GROUP BY 'orderDate';

###### 3. Write a SQL query to show the product name with minimum MSRP (use Productstable).

    SELECT 'productName', MIN('MSRP') AS [Min_MSRP_of_product]
    FROM products
    GROUP BY 'productName';

###### 4. Write a SQL query to show the product name with maximum value ofstockQuantity.

    SELECT 'productName', MAX('quantityInStock') AS [Max_quantity_of_product]
    FROM products
    GROUP BY 'productName';

###### 5. Write a query to show the most ordered product Name (the product with maximum number of orders).

    SELECT 'productName' FROM products
    INNER JOIN Orderdetails
    ON Products.'productCode' = Orderdetails.'productCode'
    GROUP BY Products.'productCode'
    ORDER BY SUM('quantityOrdered') DESC
    LIMIT 1;

###### 6. Write a SQL query to show the highest paying customer Name.

    SELECT 'customerName' FROM customers
    INNER JOIN payments
    ON customers.'customerNumber' = payments.'customerNumber'
    GROUP BY customers.'customerNumber'
    ORDER BY MAX('amount') DESC
    LIMIT 1;

###### 7. Write a SQL query to show cutomerNumber, customerName of all the customers who are from Melbourne city.

    SELECT 'cutomerNumber', 'customerName' FROM customers
    WHERE 'city' LIKE 'Melbourne';

###### 8. Write a SQL query to show name of all the customers whose name start with “N”.

    SELECT 'customerName' FROM customers
    WHERE 'customerName' LIKE 'N%'
    ORDER BY 'customerName';

###### 9. Write a SQL query to show name of all the customers whose phone start with ‘7’ and are from city ‘LasVegas’.

    SELECT 'customerName' FROM customers
    WHERE 'PHONE' LIKE '7%' AND 'city' LIKE 'LasVegas'
    ORDER BY 'customerName';

###### 10. Write a SQL query to show name of all the customers whose creditLimit < 1000 and city is either “Las Vegas” or ”Nantes” or “Stavern”.

    SELECT 'customerName' FROM customers
    WHERE 'creditLimit' < 1000 
    AND 'city' LIKE 'LasVegas' OR 'city' LIKE 'Nantes' OR 'city' LIKE 'Stavern'
    ORDER BY 'customerName';

###### 11. Write a SQL query to show all the orderNumber in which quantity ordered <10.

    SELECT 'orderNumber' FROM orderdetails
    WHERE 'quantityOrdered' < 10
    ORDER BY 'orderNumber'

###### 12. Write a SQL query to show all the orderNumber whose customer Name start with letter ‘N’.

    SELECT 'orderNumber' FROM orders
    INNER JOIN customers
    ON orders.'customerNumber' = customers.'customerNumber'
    GROUP BY orders.'orderNumber'
    WHERE 'customerName' LIKE 'N%';

###### 13. Write a SQL query to show all the customerName whose orders are “Disputed” in status.

    SELECT 'customerName' FROM customers
    INNER JOIN orders
    ON customers.'customerNumber' = orders.'customerNumber'
    GROUP BY customers.'customerNumber'
    WHERE 'status' LIKE 'Disputed'
    ORDER BY 'customerNumber';

###### 14. Write a SQL query to show the customerName who made payment through cheque with checkNumber startingwith H and made payment on “2004-10-19”.

    SELECT 'customerName' FROM customers
    INNER JOIN paymentS
    ON customers.'customerNumber' = paymentS.'customerNumber'
    GROUP BY customers.'customerNumber'
    WHERE ' checkNumber' LIKE 'H%' AND 'paymentDate' LIKE '2004-10-19'
    ORDER BY 'customerNumber';

###### 15. Write a SQL query to show all the checkNumber whose amount > 1000.

    SELECT 'checkNumber' FROM paymets
    WHERE 'checkNumber' > 1000;