# SQL – WORKSHEET 3

#### Refer the following ERD and answer all the questions in this worksheet. You have to write the queries using mysql for the required Operation.

######  Customers: stores customer’s data.
######  Products: stores a list of scale model cars.
######  ProductLines: stores a list of product line categories.
######  Orders: stores sales orders placed by customers.
######  OrderDetails: stores sales order line items for each sales order.
######  Payments: stores payments made by customers based on their accounts.
######  Employees: stores all employee information as well as the organization structure such as who reports to whom.
######  Offices: stores sales office data

###### 1. Write SQL query to create table Customers.

Create table customers(
    customerNumber int(10),
    customerName varchar(10),
    contactLastName varchar(10),
    contFirstName varchar(10),
    phone int(10),
    aaddressLine1 varchar(20),
    addressLine2 varchar(20),
    city varchar(20),
    state varchar(20),
    postalCode int(6)
    country varchar(10),
    salesRepEmployeeNumber int(10),
    creditLimitctFirstName varchar(10)
    Primary Key(customerNumber));

###### 2. Write SQL query to create table Orders.

Create table orders(
    orderNumber int(20),
    orderDate int(10),
    requiredDate int(10),
    shippedDate int(10),
    status varchar(10),
    comments varchar(20),
    customerName varchar(20),
    Primary Key(orderNumber));

###### 3. Write SQL query to show all the columns data from the Orders Table.

Select * from orders;

###### 4. Write SQL query to show all the comments from the Orders Table.

Select comments from orders;

###### 5. Write a SQL query to show orderDate and Total number of orders placed on that date, from Orders table.

Select orderDate, COUNT(orderNumber) from orders
GroupBy orderDate
Order By 2 Desc;

###### 6. Write a SQL query to show employeNumber, lastName, firstName of all the employees from employees table.

Select employeNumber, lastName, firstName from employees;

###### 7. Write a SQL query to show all orderNumber, customerName of the person who placed the respective order.

SELECT orderNumber from order INNER JOIN customers on orders.orderNumber = customers.customerName where customers.customerName = customerNumber;

###### 8. Write a SQL query to show name of all the customers in one column and salerepemployee name in another column.

Select customerName, salesRepEmployeeNumber from customers;

###### 9. Write a SQL query to show Date in one column and total payment amount of the payments made on that date from the payments table.

Select paymentDate, SUM(amount) from payments
GroupBy paymentDate
Order By 2 Desc;

###### 10. Write a SQL query to show all the products productName, MSRP, productDescription from the products table.

Select productName, MSRP, productDescription from products;

###### 11. Write a SQL query to print the productName, productDescription of the most ordered product.

select p.productName, p.productDescription, SUM(o.quantityOrdered) as quantity from orderdetails as o INNER JOIN products as p
GroupBy productCode ORDER BY quantity DESC;

###### 12. Write a SQL query to print the city name where maximum number of orders were placed.

select * from orders o, customers c where o.customerNumber = c.customerNumber and o.customerNumber IN (select customerNumber from orders group by customerNumber having count(*) = (select count(*) from orders or group by or.customerNumber order by count(*) desc limit 1));

###### 13. Write a SQL query to get the name of the state having maximum number of customers.

SELECT state, MAX(customerNumber) from customers
GroupBy state
Order By 2 Desc;

###### 14. Write a SQL query to print the employee number in one column and Full name of the employee in the second column for all the employees.

SELECT employeeNumber, concat(firstName, ' ', lastName) as fullName from employees;

###### 15. Write a SQL query to print the orderNumber, customer Name and total amount paid by the customer for that order (quantityOrdered × priceEach).

SELECT o.orderNumber, c.customerName, SUM(quantityOrdered * priceEach) as total
FROM orders 
INNER JOIN customers USING (customerNumber)
GROUP by orderNumber
ORDER BY total DESC;