# SQL WORKSHEET - 4

### Refer the following ERD and answer all the questions in this worksheet. You have to write the queries using MySQL for the required Operation.

####  Customers: stores customer’s data.
####  Products: stores a list of scale model cars.
####  Product Lines: stores a list of product line categories.
####  Orders: stores sales orders placed by customers.
####  Order Details: stores sales order line items for each sales order.
####  Payments: stores payments made by customers based on their accounts.
####  Employees: stores all employee information as well as the organization structure such as who reports towhom.
####  Offices: stores sales office data.

### QUESTIONS:

###### 1. Write a SQL query to show average number of orders shipped in a day (use Orders table).

    WITH x AS (SELECT `shippedDate`, COUNT(`orderNumber`) AS `total_orders` FROM Orders) SELECT 
    AVG(`total_orders`) AS `AverageNumberOfOrdersShipped` FROM x;

###### 2. Write a SQL query to show average number of orders placed in a day.

    WITH x AS (SELECT `orderDate`, COUNT(`orderNumber`) AS `total_orders` FROM Orders) SELECT 
    AVG(`total_orders`) AS `AverageNumberOfOrdersPlaced` FROM x;

###### 3. Write a SQL query to show the product name with minimum MSRP (use Productstable).

    SELECT `productName` FROM Products 
    ORDER BY MSRP
    LIMIT 1;

###### 4. Write a SQL query to show the product name with maximum value ofstockQuantity.

    SELECT `productName` FROM Products 
    ORDER BY `quantityInStock` DESC LIMIT 1;

###### 5. Write a query to show the most ordered product Name (the product with maximum number of orders).

    SELECT `productName`
    FROM OrderDetails AS a INNER JOIN Products AS b ON 
    a.`productCode` = b.`productCode`
    GROUP BY b.`productCode`
    ORDER BY COUNT(`orderNumber`) DESC LIMIT 
    1;

###### 6. Write a SQL query to show the highest paying customer Name.

    WITH x AS (SELECT customerName, SUM(amount) AS total_payment FROM 
               Customers AS a INNER JOIN Payments b
               ON a.customerNumber = b.customerNumber 
               GROUP BY customerName)
    SELECT customerName, total_payment FROM x
    WHERE total_payment = (SELECT MAX(total_payment) FROM x);

###### 7. Write a SQL query to show cutomerNumber, customerName of all the customers who are from Melbourne city.

    SELECT `customerNumber`, `customerName` FROM Customers 
    WHERE `city`= "Melbourne";

###### 8. Write a SQL query to show name of all the customers whose name start with “N”.

    SELECT `customerName` FROM Customers 
    WHERE `customerName` REGEXP `^N*`;

###### 9. Write a SQL query to show name of all the customers whose phone start with ‘7’ and are from city ‘LasVegas’.

    SELECT `customerName` FROM Customers
    WHERE `phones` REGEXP “^7.*” AND `city` = “Las Vegas”;

###### 10. Write a SQL query to show name of all the customers whose creditLimit < 1000 and city is either “Las Vegas” or ”Nantes” or “Stavern”.

    SELECT `customerName` FROM Customers
    WHERE `creditLimit` < 1000 AND `city` IN ("Las Vegas", "Nantes", "Stavern");

###### 11. Write a SQL query to show all the orderNumber in which quantity ordered <10.

    SELECT `orderNumber` FROMorderDetails 
    WHERE `quantityOrdered` < 10;

###### 12. Write a SQL query to show all the orderNumber whose customer Name start with letter ‘N’.

    SELECT `orderNumber`
    FROM Customers AS a INNER JOIN orders AS b ON a.customerNumber = b.customerNumber WHERE 
    `customerName` REGEXP "^B.*";

###### 13. Write a SQL query to show all the customerName whose orders are “Disputed” in status.

    SELECT `customerName`
    FROM Orders AS a INNER JOIN Customers AS b ON 
    a.`customerNumber`= b.`customerNumber` WHERE 
    `status`= "Disputed";

###### 14. Write a SQL query to show the customerName who made payment through cheque with checkNumber startingwith H and made payment on “2004-10-19”.

    SELECT `customerName`
    FROM Payments INNER JOIN Customers USING (`customerNumber`) WHERE 
    `paymentDate` = "2004-10-19" AND `checkNumber` REGEXP "^H.*";

###### 15. Write a SQL query to show all the checkNumber whose amount > 1000.

    SELECT `checkNumber` FROM Payments 
    WHERE `amount` > 1000;